/* common css start */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
    position: relative;
}
/* common css ends */
/* section css start here */
.first_main_col{
    color: white;
    background-color: rgba(243, 127, 59, 0.616);
}
.first_hr{
    background-color: white;width: 80%;height: 2%;
}
.image_column{
    background-image: url('');
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.list_tags{color: white;}
.address{
    padding-left: 4%;
    padding-bottom: 6%;
}
.address strong{
    padding-bottom: 5%;   
    padding-left: 2%;
}