/* common css start */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgba(0, 0, 0, 0.63);
    position: relative;
}
/* common css ends */
/* section css start here */
.first_hr_div{
    height: 10px;
    background-color:white;
    width: 100%;
    margin-left: 10%;
}
.secondcolumn{
    padding-right: 500px; 
}
.first_main_col{
    color: white;
    background-color: rgba(243, 127, 59, 0.616);
}
.logo_content{
    margin-top: 2px;
}
.logo_content strong{
    border-top: 8px solid white;
    font-size: 120px;
}
.icon_row img{
    width: 70%;
    height: 70%;
 }
img{
   width: 100%;
   height: 700px;
}
.business_content{
    padding-left: 80%;
    border-left: 5px solid white;
    color: white;
    padding-left: 2%;
}
.main_img_column hr{
    border: 6px solid white;
}
.main_img_column{
    position: relative;
}
.text_block{
}
.list_tags{color: white;}
.address{
    padding-left: 2%;
    padding-bottom: 6%;
}
.address strong{
    padding-bottom: 1%;   
    padding-left: 2%;
}


/* footer start here */
.last_content{
    text-align: justify;
}
.last_column{
    color: white;
    text-align:right ;
    background-color: rgba(0, 255, 255, 0.425);
    position: absolute;
  
}
.last_column strong{
    font: bolder;
    font-size: 200px;
}
#ul{
    overflow:hidden;
    text-align: center;
}
#li{
    display:inline-block;
    padding: 20px;  
}
a{
    color:white;
    text-decoration: none;
}
/* footer ends here */